<div class="main-container">
    <h1 class="main-header">Reddit Stock Tracker</h1>

    <div class="ticker-container">
        <mat-card class="search-border mat-elevation-z4">
            <mat-form-field class="ticker-input" [floatLabel]="'never'">
                <!-- <mat-label>Ticker</mat-label> -->
                <input matInput placeholder="search ticker (ex. GME)" [(ngModel)]="selectedTicker">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <button mat-button (click)="getStockData(selectedTicker)" class="search-button"><mat-icon>search</mat-icon></button>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="mat-elevation-z4" *ngIf="!isValidTicker">
            Invalid ticker.
        </mat-card>

        <mat-card class="mat-elevation-z4" *ngIf="isValidTicker && hasLoaded">
            <h2 class="card-header">{{fullName}} ({{submittedTicker}})</h2>
            <p class="stock-text">
                Price at market open on <span class="big-text">{{dateAtOpen}}</span> was <span class="big-text">${{priceAtOpen}}</span>.<br>
                Price at market close on <span class="big-text">{{dateAtOpen}}</span> was <span class="big-text">${{priceAtClose}}</span>.<br>
                Percent change over the day was <span [ngClass]="{'red-text':percentChange < 0, 'green-text':percentChange>=0}">{{percentChange}}%</span>.<br>
                <span class="big-text">{{numRedditPosts}}</span> posts on r/wallstreetbets mention {{submittedTicker}} in the past day.
            </p>
        </mat-card>
    </div>
</div>

