<div class="main-container">
    <!-- <h1 class="main-header">Reddit Stock Tracker</h1> -->

    <div class="header-container">
        <h1 class="main-header" fxFlex="30">Reddit Stock Tracker</h1>
        <div fxFlex="15"></div>
        <mat-card class="search-box mat-elevation-z10 custom-shadow" fxFlex>
            <mat-form-field class="ticker-input" [floatLabel]="'never'">
                <!-- <mat-label>Ticker</mat-label> -->
                <input matInput placeholder="search ticker (ex. GME)" [(ngModel)]="selectedTicker" (keyup.enter)="getStockData(selectedTicker)">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <button mat-button (click)="getStockData(selectedTicker)" class="search-button"><mat-icon>search</mat-icon></button>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="invalid-card mat-elevation-z3 custom-shadow" *ngIf="!isValidTicker">
            Invalid ticker.
        </mat-card>

        <mat-card class="valid-card mat-elevation-z3 custom-shadow" *ngIf="isValidTicker && hasLoaded">
            <h2 class="card-header">{{fullName}} ({{submittedTicker}})</h2>
            <p class="date-header">{{dateAtOpen}}</p>
            <p class="stock-text">
                Open: ${{priceAtOpen}}<br>
                Close: ${{priceAtClose}}<br>
                <span [ngClass]="{'red-text':percentChange < 0, 'green-text':percentChange>=0}">{{percentChange}}%</span> change intraday<br>
                <span class="big-text">{{numRedditPosts}}</span> post(s) on r/wallstreetbets mention {{submittedTicker}} in the past day
            </p>
        </mat-card>
    </div>
</div>

