.main-container {
    margin-top: 2vh;
}

.main-header {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2vh;
}

.ticker-container {
    margin: auto;
    // width: 100%;
    text-align: center;
}

.search-border {
    max-width: 512px;
    margin: auto;
    border-radius: 45px;
    padding: 0;
}

mat-form-field.ticker-input {
    font-size: 18px;
    width: 75%;
}

.card-container {
    max-width: 1024px;
    margin: auto;
    margin-top: 4vh;
}

.card-header {
    text-align: center;
}

.stock-text {
    font-size: medium;
}

.stock-text .big-text {
    font-weight: 500;
    font-size: large;
}